* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebarHeader {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebarNav {
  height: 100%;
  padding: 25px;
  width: 200px;
  border: 2px solid white;

  ul {
    list-style: none;

    li {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      padding: 0.5rem;
      font-size: 25px;
      cursor: pointer;
      color: white;
      transition: background-color 0.3s ease, color 0.3s ease;

      svg {
        margin-right: 0.75rem;
        font-size: 1.25rem;
      }

      span {
        flex: 1;
      }

      &:hover {
        background-color: rgba(47, 4, 235, 0.1);
      }

      &.active {
        background-color: rgba(4, 81, 214, 0.2);
        font-weight: bold;
        border-radius: 10px;
      }
    }
  }
}
