* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navMainContainer {
  height: 100vh;
  background-color: red;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070707;
  color: white;
  width: 100%;
  height: 70px;
  padding: 30px;
}

.toggleContainer {
  font-size: 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.toggleIcon {
  font-size: 50px;
  color: green;
}

.black-theme {
  background-color: #333;
}

.green-theme {
  background-color: #28a745;
}

.black-theme .toggleContainer {
  color: black;
}

.green-theme .toggleContainer {
  color: green;
}

.sidebarContainer {
  display: flex;
  justify-content: space-between;
}

.btnContainer {
  padding: 20px;
}

.btn {
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  background-color: blue;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: darkblue;
}
